
body{
	
	background-color:#CCC;
	font-family:"Cooper", 
}

.t1{
	text-align:center;
	font-size:30px;
}

.p1{
	
	background-color:#06F;
	margin-right:2%;
	
}
.p2{
	
	background-color:#CCC;
	padding-right:10%;
	
}

